###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`.
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
# OVERWRITTEN by bin/.env.preference (upstream default: ~/.laradock/data)
DATA_PATH_HOST=~/.phpdock/data
# NOTE: each database engine keeps its data in a sub-folder here (mysql/, postgres/, ...).
# A server will NOT start against data created by a newer major version (databases do not
# downgrade). If a DB container keeps restarting after you change its *_VERSION below,
# either set the version back to match the existing data, or remove that engine's
# sub-folder inside DATA_PATH_HOST to start fresh (this deletes that database's local data).

### Drivers ###############################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include.
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use laradock to have separate containers per project.
# OVERWRITTEN by bin/.env.preference (upstream default: laradock)
COMPOSE_PROJECT_NAME=phpdock

### PHP Version ###########################################

# Select a PHP version of the Workspace and PHP-FPM containers.
# Accepted values: 8.5 - 8.4 - 8.3 - 8.2 - 8.1 - 8.0 - 7.4 - 7.3 - 7.2 - 7.1 - 7.0 - 5.6
# OVERWRITTEN by bin/.env.preference (upstream default: 8.4)
PHP_VERSION=8.5

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

### Remote Interpreter ####################################

# Choose a Remote Interpreter entry matching name. Default is `laradock`
# OVERWRITTEN by bin/.env.preference (upstream default: serverName=laradock)
PHP_IDE_CONFIG=serverName=phpdock

### Windows Path ##########################################

# A fix for Windows users, to ensure the application path works
COMPOSE_CONVERT_WINDOWS_PATHS=1

### Environment ###########################################

# If you need to change the sources (i.e. to China), set CHANGE_SOURCE to true
CHANGE_SOURCE=false

###########################################################
################ Containers Customization #################
###########################################################

### WORKSPACE #############################################

WORKSPACE_TIMEZONE=UTC
WORKSPACE_SSH_PORT=2222
WORKSPACE_BROWSERSYNC_HOST_PORT=3000
WORKSPACE_BROWSERSYNC_UI_HOST_PORT=3001
WORKSPACE_VUE_CLI_SERVE_HOST_PORT=8080
WORKSPACE_VUE_CLI_UI_HOST_PORT=8001
WORKSPACE_ANGULAR_CLI_SERVE_HOST_PORT=4200
WORKSPACE_VITE_PORT=5173

### PHP_FPM ###############################################

PHP_FPM_FAKETIME=-0

### NGINX #################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SSL_PATH=./nginx/ssl/

### REDIS #################################################

REDIS_PORT=6379
REDIS_PASSWORD=secret_redis

### POSTGRES ##############################################

# changing the major version? see the DATA_PATH_HOST note above
# OVERWRITTEN by bin/.env.preference (upstream default: 17-alpine)
POSTGRES_VERSION=18
POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
POSTGRES_ENTRYPOINT_INITDB=./postgres/docker-entrypoint-initdb.d

